*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{

    width: 300px;
    background-color: rgb(225, 117, 240);
    padding: 30px;
    border-radius: 30px;    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{

     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
     transform: translateY(-10px);
}

.card img{

    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name-bio p{
    margin-top: 10px;
    margin-bottom: 10px;
}
 
button{

    padding: 10px;
    border-radius: 12px;
    background-color: beige;
    transition: 0.6s;
    cursor: pointer;
    border: none;
}

button:hover{

    background-color: brown;
    color: white;

}